data/**/*.png filter=lfs diff=lfs merge=lfs -text
data/**/*.tlg filter=lfs diff=lfs merge=lfs -text
data/**/*.tft filter=lfs diff=lfs merge=lfs -text
data/**/*.ttf filter=lfs diff=lfs merge=lfs -text
data/**/*.otf filter=lfs diff=lfs merge=lfs -text
data/**/*.ttc filter=lfs diff=lfs merge=lfs -text
data/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
data/**/*.mpg filter=lfs diff=lfs merge=lfs -text
data/**/*.mpeg filter=lfs diff=lfs merge=lfs -text
data/**/*.webm filter=lfs diff=lfs merge=lfs -text
data/**/*.ogg filter=lfs diff=lfs merge=lfs -text
data/**/*.sli filter=lfs diff=lfs merge=lfs -text

